%mont-400 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%open-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}
%open-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

$mainfont: #352A2A;

