.about{
  padding-bottom: 120px;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__descr{
    width: 50%;
    padding-top: 80px;
    &-text{
      &:last-child{
        margin-top: 50px;
      }
    }
  }
  &__photo{
    background-image: url('images/bgabout.png');
      background-repeat: no-repeat;
      background-position: center center;
      width: 508px;
      height: 508px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

@media (max-width: 450px) {
  .about{
    padding-bottom: 41px;
    &__content{
      flex-direction: column;
      align-items: center;
    }
    &__photo{
      background-image: url('images/aboutbg.png');
      background-repeat: no-repeat;
      background-position: center center;
      width: 202px;
      height: 202px;
      display: flex;
      justify-content: center;
      align-items: center;
      &-img{
        width: 186px;
        height: 186px;
      }
    }
    &__descr{
      order: 1;
      width: 289px;
      padding-top: 20px;
      &-text{
        font-size: 10px;
        line-height: 13px;
        &:last-child{
          margin-top: 20px;
        }
      }
    }
  }
}