.footer{
  padding-bottom: 113px;
    &__contacts{
    width: 100%;
    background: #FCFBF7;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.25), inset -6px -6px 10px rgba(0, 0, 0, 0.25), inset 5px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    padding: 45px 97px;
    &-content{
      border-left: 1px solid #352A2A;
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__title{
    font-size: 52px;
    line-height: 70px;
    @extend %open-400;
    margin-bottom: 34px;
  }
  &__link-telegram{
    margin-bottom: 27px;
    position: relative;
    padding-left: 50px;
    &::before{
      position: absolute;
      content: url('images/tg.svg');
      width: 40px;
      height: 40px;
      left: 0;
    }
  }
  &__link-inst{
    margin-bottom: 27px;
    position: relative;
    padding-left: 50px;
    &::before{
      position: absolute;
      content: url('images/inst.svg');
      width: 40px;
      height: 40px;
      left: 0;
    }
  }
  &__link-mail{
    margin-bottom: 27px;
    position: relative;
    padding-left: 50px;
    margin-bottom: 10px;
    &::before{
      position: absolute;
      content: url('images/mail.svg');
      width: 40px;
      height: 40px;
      left: 0;
    }
  }
}

.footer a{
  display: block;
}

@media (max-width: 450px) {
  .footer{
    padding-bottom: 63px;
    &__contacts{
      padding: 24px 34px;
      &-content{
        padding-left: 10px;
      }
    }
    &__title{
      font-size: 14px;
      line-height: 19px;
    }
    &__link-telegram{
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 19px;
      padding-left: 30px;
      &::before {
        content: url('images/tgmobile.svg');
        width: 20px;
        height: 20px;
      }
    }
    &__link-inst{
    margin-bottom: 19px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 30px;
    &::before {
        content: url('images/instmobile.svg');
        width: 20px;
        height: 20px;
        }
    }
    &__link-mail{
    font-size: 12px;
    line-height: 16px;
    padding-left: 30px;
    &::before {
        content: url('images/mailmobile.svg');
        width: 20px;
        height: 20px;
      }
    }
  }
}