.portfolio{
  padding-bottom: 120px;
  &__title{
    margin-bottom: 80px;
  }
  &__link{
    display: block;
  }
  &__list{
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
  }
  &__item{
    width: 463px;
    height: 349px;
    background: #C2ACBC;
    border-radius: 44px;
    padding: 70px 12px;
    &-img{
      width: 436px;
      height: 202px;
      border-radius: 28px;
    }
  }
}

@media (max-width: 450px) {

  .portfolio__link +.portfolio__link {
      margin-top: 24px;
    }

  .portfolio{
    padding-bottom: 41px;
    &__title{
      margin-bottom: 25px;
    }
    &__list{
      flex-direction: column;
      align-items: center;
    }
    &__item{
      width: 279px;
      height: 211px;
      padding: 44px 8px;
      &-img{
        width: 263px;
        height: 122px;
      }
    }
  }
}