.header{
  padding: 41px 0 130px;
  &-top{
    margin-bottom: 9px;
    display: flex;
    justify-content: end;
    &__link{
      @extend %mont-400;
      display: block;
      font-size: 18px;
      line-height: 22px;
      background: #FCFBF7;
      border-radius: 13px;
      padding: 10px 22px 10px 52px;
      position: relative;
      transition: all .3s;
      &::before{
        position: absolute;
        content: url('../images/insthead.svg');
        width: 24px;
        height: 24px;
        left: 21px;
      }
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  &-offer{
    display: flex;
    justify-content: space-between;
    &__img{
      background-image: url('../images/mainphotobg.png');
      background-repeat: no-repeat;
      background-position:center center;
      width: 508px;
      height: 508px;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(7px 8px 14px rgba(0, 0, 0, 0.25));
    }
    &__photo{
      border-radius: 50%;
      object-fit: cover;
    }
    &__content{
      margin-left: 86px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    &__title{
      font-size: 26px;
      line-height: 35px;
      color: #352A2A;
      margin-top: 140px;
      margin-bottom: 40px;
      @extend %open-400;
    }
    &__descr{
      text-transform: uppercase;
      width: 569px;
      margin-bottom: 133px;
      @extend %open-600;
    }
  }
  &-nav{
    &__list{
      display: flex;
      justify-content: space-between;
    }
    &__link{
      text-transform: uppercase;
    }
    &__item{
      transition: all .3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 420px) {
  .header-top__link{
    font-size: 8px;
    line-height: 10px;
    width: 78px;
    height: 17px;
    padding: 3px 5px 6px 19px;
    &::before{
      position: absolute;
      content: url('../images/mobileinsthead.svg');
      width: 9px;
      height: 9px;
      left: 8px;
      top: 4px;
    }
  }
  
  .header-nav__list{
    flex-direction: column;
  }

  .header-offer__title{
    order: 1;
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .header-offer__descr{
    order: 2;
    font-size: 12px;
    line-height: 16px;
    width: 280px;
    margin-bottom: 0;
  }

  .header-offer__img{
    background-image: url('../images/mobilemainbg.png');
      background-repeat: no-repeat;
      background-position: center center;
      width: 180px;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(7px 8px 14px rgba(0, 0, 0, 0.25));
    float: left;
  }
  .header-offer__photo{
    width: 164px;
    height: 164px;
  }

  .header-nav__link{
    font-size: 12px;
    line-height: 16px;
  }

  .header-offer{
    display: block;
  }

  .header-offer__content{
    margin-left: 0;
    width: 100%;
  }

  .header{
    position: relative;
  }

  .header-nav{
    position: absolute;
    right: 28px;
    top: 75px;
  }
  
  .header {
    padding-bottom: 41px;
  }
}